@import '../styling/colors.scss';
@import '../styling/utilStyling.scss';

nav {
  display: flex;
  position: absolute;
  color: $base-color;
  justify-content: space-between;
  width: 100%;
  background: $bg-base-color;   

  .rightPanel {
    display: flex;
    margin: 1em 5rem;

    ol {
        list-style-type: none;
        font-weight: 600;
        margin: 0;
        margin-right: 3rem;
        padding: 0;

        a {
            display: inline-block;
            padding: 1em 1em 1em 0;
            color: $base-color;
            text-decoration: none;
            transition: 500ms;
        }

        a:hover {
            color: $accent;
            text-decoration: underline;
        }
        
        li {
            display: inline-block;
            margin-left: 1.5em;
        }
        li:first-child {
            display: inline-block;
            margin-left: 0;
        }
    
        li:nth-child(1)::before {
            content: '📝 ';
        }
        li:nth-child(2)::before {
            content: '⚡ ';
        }
        li:nth-child(3)::before {
            content: '💼 ';
        }
        li:nth-child(4)::before {
            content: '📞 ';
        }
    }

  }
}

.leftSlider {
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;

    ul {
        list-style: none;
        padding: 0;
        margin: 1em;
        
        li {
            margin: 1em 0;

            a {
                position: relative;

                img {
                    transition: 10s ease;
                    display: block;
                    width: 30px;
                    height: 30px;
                }

                .img-top {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 99;
                }
            }

            a:hover .img-top {
                display: block;
            }
        }
    }

    .vlOuter {
        margin-top: 1em;
        display: flex;
        justify-content: center;

        .vl {
            border-right: 1px solid #8892b0;
            height: 80px;
            align-self: center;
        }
    }
}